
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
}
.shopping-list {
    text-align: left;
    color: black;
	max-width: 400px;
	margin: auto;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: inset -3px -3px 0px #0000004c;
  }
  
  .shopping-list form {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
  }
  
  .shopping-list input {
	flex-grow: 1;
	padding: 10px;
	border-radius: 7px;
	border: 2px solid #ccc;
  }
  
  .submit-btn{
    background-color: #2e8441;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 7px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: inset -3px -3px 0px #0000004c;
    transition: transform 0.3s ease; 
  }

  .clear-button
  {
    background-color: #9a1f1f;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 7px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: inset -3px -3px 0px #0000004c;
    transition: transform 0.3s ease; 
  }
  
  .shopping-list ul {
	list-style: none;
	padding: 0;
  }
  
  .shopping-list li {
	padding: 10px;
	border-bottom: 2px solid #ccc;
  }
  
 
  .shopping-list li.checked {
    text-decoration: line-through;
    color: #aaa;
  }
  

  @media screen and (max-width: 768px){
    .shopping-list button {
        padding: 10px 15px;
        font-size: 0.5;
      }
      
  }